html {
    background-color: #3877F7;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3 {
    color: #FDF5EC;
    text-align: center;
}
#my_result {
    position: relative;
    text-align: center;
    margin: auto;
    display: block;
}
#my_camera {
    position: relative;
    margin: auto;
    display: block;
}
.phototake {
    color: #ffffff;
    position: relative;
    text-align: center;
}
.buttons {
    position: relative;
    text-align: center;
    color: #3B3738;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.urlinput {
    width: 600px;
}
.result_div {
    position: relative;
    text-align: center;
    margin: auto;
    display: block;
}
#PhotoDiv {
    position: relative;
    height: 50px;
}
.article {
    display: none;
}

.equalizer {
  text-align: center;
  margin: 10px auto;
  width: 380px;
}

.column {
  display: inline-block;
  width: 40px;
  margin: 5px;
}

#purple {
  height: 160px;
  background-color: #8800FF;
}

#blue {
  height: 140px;
  background-color: #0022FF;
}

#cyan {
  height: 100px;
  background-color: #22FFFF;
}

#green {
  height: 140px;
  background-color: #00BB00;
}

#yellow {
  height: 180px;
  background-color: #FFFF00;
}

#orange {
  height: 70px;
  background-color: #FF6600;
}

#red {
  height: 200px;
  background-color: #FF0000;
}

#black {
  display: inline-block;
  height: 240px;
  width: 1px;
  background-color: #000000;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #f44336;} /* Red */ 

